html,
body {
  height: 100%;
  width: 100%;
}

#box-header {
  background: #3F51B5;
  color: white;
  display: table;
  min-height: 150px;
  width: 100%;
}

#box-content {
  background: #C5CAE9;
  color: white;
  display: table;
  height: 600px;
  width: 100%;
}

#box-content1 {
  color: white;
  display: table;
  height: 600px;
  width: 100%;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.navbar {
  margin-bottom:0;
}
.navbar-default {
  background-color:#E8EAF6;
}

.navbar-default .navbar-nav>li>a {
  color:rgba(0,0,0,0.87);
}

.navbar-fixed-top {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
