html,
body {
  height: 100%;
  width: 100%;
}

#box-header {
  background: darkblue;
  color: white;
  display: table;
  min-height: 150px;
  width: 100%;
}

#box-content {
  color: white;
  display: table;
  height: 600px;
  width: 100%;
}

#box-content1 {
  color: white;
  display: table;
  height: 600px;
  width: 100%;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

